.HomeWrap {
    background-image: url(../static/bg-stars.svg);
    width: 100vw;
    height: 100vh;
}
.timerWrap {
    display: flex;
    justify-content: space-evenly;
    width: 50%;
    margin-left: 25%;
    height: 10%;
}
.timerWrap div {
    margin-top: 25%;
}
.timerSubText {
    color: hsl(237, 18%, 59%);
}
.socialSection {
    width: 50%;
    margin: 25%;
}
