@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@600;700&family=Kumbh+Sans&family=Red+Hat+Text:wght@700&display=swap');

.HomeWrap {
    background-image: url(../static/bg-stars.svg);
    width: 100vw;
    height: 100vh;
    font-family: 'Red Hat Text';
    z-index: 0;
}
.timerWrap {
    display: flex;
    justify-content: space-evenly;
    width: 50%;
    margin-left: 25%;
    height: 10%;
}
.timerWrap div {
    margin-top: 25%;
    display: flex;
    flex-direction: column;
}
.timerSubText {
    color: hsl(237, 18%, 59%);
    font-size: 14px;
}
.socialSection {
    width: 50%;
    margin: 25%;
    display: flex;
    justify-content: space-evenly;
}
.svg {
    fill: currentColor;
    z-index: 1;
}
.svg:hover {
    fill: hsl(345, 95%, 68%);
    stroke:hsl(345, 95%, 68%);
    cursor: pointer;
}
.Mtn {
    position: fixed;
    width: 125vw;
    left: 0;
    right: 0;
    bottom:0;
    z-index: -1;
}
.timeBG {
    background-color: hsl(236, 21%, 26%);
}
#days {
    color:hsl(345, 95%, 68%);
}
#hours {
    color:hsl(345, 95%, 68%);
}
#minutes {
    color:hsl(345, 95%, 68%);
}
#seconds {
    color:hsl(345, 95%, 68%);
}